body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    height: 100vh;
    background-color: #f8f0c7;
}

.header {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 40px;
    font-weight: bold;
    color: white;
    background-color: #F4538A;

}

.instruction {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.buttons {
    display:flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

button { 
    padding: 24px 40px;
    font-size: 24px;
    background: #59D5E0;
    box-shadow: 0px 10px 10px rgb(163, 161, 161);
    border: none;
    border-radius: 20px;
}

button:hover {
    background: #49adb6;
}

button:active {
    background: #49adb6;
    box-shadow: 0px 10px 10px rgb(111, 109, 109);
    transform: translateY(4px);
}

.result-container {
    height: 10vh;
}

.computer-action,
.result { 
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-align: center;
}

.scores {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 32px;
    align-items: flex-end;
}

.footer {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 32px;
    background-color: #FAA300;
}